@model IEnumerable<GooglePlus.Data.Model.Photo>

@{
    ViewBag.Title = "Photos";
}

<table class="activity_table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Src)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.googleId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.Src" alt="photo" class="activity_photo " />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            <a href="@item.Url">Link to Google+</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.googleId)
        </td>
    </tr>
}

</table>
