@model IEnumerable<GooglePlus.Data.Model.Share>

@{
    ViewBag.Title = "Shares";
}

<h2>Shares</h2>

<p>
    @Html.ActionLink("Create New", "CreateShare")
</p>
<table class="activity_table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.googleId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.Raw(item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.googleId)
        </td>
    </tr>
}

</table>
