<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div id="home_header">
                <section>
                    <p style="text-align: center; font-size: 13pt;"><strong>NewsFeed Portal</strong></p>
                    Welcome, @User.Identity.Name !
                    <ul>
                        <li>@Html.ActionLink("Home", "Main", "Users", new { id = (int?)null }, null)</li>
                        <li>@Html.ActionLink("People", "List", "Users")</li>
                        <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            }
                        </li>
                    </ul>
                </section>
                <nav>
                    <table id="user_main_menu">
                        <tr>
                            <td>@Html.ActionLink("Main", "Main", "Users", new { id = ViewBag.ProfileId }, null)</td>
                            <td>@Html.ActionLink("Posts", "Posts", "Activities", new { id = ViewBag.ProfileId }, null)</td>
                            <td>@Html.ActionLink("Photos", "Photos", "Activities", new { id = ViewBag.ProfileId }, null)</td>
                            <td>@Html.ActionLink("Share", "Shares", "Activities", new { id = ViewBag.ProfileId }, null)</td>
                        </tr>
                    </table>
                </nav>
            </div>
        </header>
        <section>@RenderBody()</section>
        <footer>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript">
            $(document).ready(function () {
                @RenderSection("ScriptsOnReady", required: false)
            });
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
