@model GooglePlus.Data.Model.User

@using (Html.BeginForm("Update", "Users"))
{
    <fieldset>
        <legend>User profile</legend>

        @Html.HiddenFor(u => u.Id)
        @Html.HiddenFor(u => u.Username)


        <div>@Html.LabelFor(u => u.GoogleId)</div>
        <div>@Html.EditorFor(u => u.GoogleId)</div>
        
        <div>@Html.LabelFor(u => u.FirstName)</div>
        <div>@Html.EditorFor(u => u.FirstName)</div>
        
        <div>@Html.LabelFor(u => u.LastName)</div>
        <div>@Html.EditorFor(u => u.LastName)</div>
        
        <div>@Html.LabelFor(u => u.Username)</div>
        <div>@Html.TextBoxFor(u => u.Username, new { disabled = "disabled" })</div>
        
        <div>@Html.LabelFor(u => u.BirthDay)</div>
        <div>@Html.EditorFor(u => u.BirthDay)</div>
        
        <div>@Html.LabelFor(u => u.Education)</div>
        <div>@Html.EditorFor(u => u.Education)</div>
        
        <div>@Html.LabelFor(u => u.Location)</div>
        <div>@Html.EditorFor(u => u.Location)</div>
        <br />
        <input type="submit" value="Save changes"/>
    </fieldset>  
}