@model IEnumerable<GooglePlus.Data.Model.User>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="activity_table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoogleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>Subscribe/Unsubscribe</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink(item.FullName, "Main", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @{
                List<int> list = ViewBag.subscribedToUsers;
                if (list.Contains(item.Id))
                {
                    @Html.ActionLink("Unsubscribe", "Unsubscribe", new { ToUserId = item.Id })
                }
                else
                {
                    @Html.ActionLink("Subscribe", "Subscribe", new { ToUserId = item.Id })
                }
            }
        </td>
    </tr>
}

</table>
